@model InvoiceWithLineItems

@{
    ViewData["Title"] = "Index";
    ViewBag.vendorId = Model.Vendor.VendorId;
}

<a style="float: right;" asp-controller="Vendors" asp-action="Index">Return to @ViewBag.vendorNameFilter Venders</a>

<h2 style="margin-bottom: 35px;">Invoices for @Model.Vendor.VendorName</h2>

@if (ViewBag.termsDays != null)
{
    <h4 style="margin-bottom: 35px; float: right;">Terms: @ViewBag.termsDays</h4>
}
<h4 style="margin-bottom: 35px;">Address: @Model.Vendor.VendorAddress1</h4>

<div style="width: 68%; float: right;">
    @if (Model.InvoiceLineItems != null)
    {
        <h4>Line items for Invoice @ViewBag.selectedInvoiceId:</h4>
        <table class="table" style="border: solid black 2px;">
            <thead>
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InvoiceLineItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LineItemDescription)
                        </td>
                        <td>
                            @item.LineItemAmount.ToString("c")
                        </td>
                    </tr>
                }
                <tr style="background-color: gainsboro;">
                    <td>
                        Total
                    </td>
                    <td>
                        @ViewBag.total.ToString("c")
                    </td>
                </tr>
            </tbody>
        </table>

        <partial name="_CreateLineItem" model="@Model.NewLineItem;"/>
    }
</div>

<div style="width: 28%;">
    <h4>Invoices:</h4>
    <ul class="nav nav-pills" style="display: inline;">
        @foreach (var item in Model.Invoices)
        {
            <li class="nav-item">
                @if (ViewBag.selectedInvoiceId == item.InvoiceId)
                {
                    <a class="nav-link active" style="margin-bottom: 5px; margin-right: 5px; text-align: center;" asp-action="Index" asp-route-id="@item.VendorId" asp-route-invoiceId="@item.InvoiceId">@Html.DisplayFor(modelItem => item.InvoiceNumber)</a>
                }
                else
                {
                    <a class="nav-link" style="background-color: gainsboro; margin-bottom: 5px; margin-right: 5px; text-align: center;" asp-action="Index" asp-route-id="@item.VendorId" asp-route-invoiceId="@item.InvoiceId">@Html.DisplayFor(modelItem => item.InvoiceNumber)</a>
                }
            </li>
        }
    </ul>
</div>

